<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomsung.agdc.mapper.UserGrowersMapper">
  <resultMap id="BaseResultMap" type="com.tomsung.agdc.domain.UserGrowers">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="plant_level" jdbcType="TINYINT" property="plantLevel" />
    <result column="credit_level" jdbcType="TINYINT" property="creditLevel" />
    <result column="lease_demand" jdbcType="TINYINT" property="leaseDemand" />
    <result column="is_loans" jdbcType="BIT" property="isLoans" />
    <result column="loans_money" jdbcType="DECIMAL" property="loansMoney" />
    <result column="loans_time" jdbcType="TIMESTAMP" property="loansTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, admin_id, plant_level, credit_level, lease_demand, is_loans, loans_money, 
    loans_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER_GROWERS
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from USER_GROWERS
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tomsung.agdc.domain.UserGrowers">
    insert into USER_GROWERS (user_id, admin_id, plant_level, 
      credit_level, lease_demand, is_loans, 
      loans_money, loans_time, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{plantLevel,jdbcType=TINYINT}, 
      #{creditLevel,jdbcType=TINYINT}, #{leaseDemand,jdbcType=TINYINT}, #{isLoans,jdbcType=BIT}, 
      #{loansMoney,jdbcType=DECIMAL}, #{loansTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tomsung.agdc.domain.UserGrowers">
    insert into USER_GROWERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="plantLevel != null">
        plant_level,
      </if>
      <if test="creditLevel != null">
        credit_level,
      </if>
      <if test="leaseDemand != null">
        lease_demand,
      </if>
      <if test="isLoans != null">
        is_loans,
      </if>
      <if test="loansMoney != null">
        loans_money,
      </if>
      <if test="loansTime != null">
        loans_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="plantLevel != null">
        #{plantLevel,jdbcType=TINYINT},
      </if>
      <if test="creditLevel != null">
        #{creditLevel,jdbcType=TINYINT},
      </if>
      <if test="leaseDemand != null">
        #{leaseDemand,jdbcType=TINYINT},
      </if>
      <if test="isLoans != null">
        #{isLoans,jdbcType=BIT},
      </if>
      <if test="loansMoney != null">
        #{loansMoney,jdbcType=DECIMAL},
      </if>
      <if test="loansTime != null">
        #{loansTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tomsung.agdc.domain.UserGrowers">
    update USER_GROWERS
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="plantLevel != null">
        plant_level = #{plantLevel,jdbcType=TINYINT},
      </if>
      <if test="creditLevel != null">
        credit_level = #{creditLevel,jdbcType=TINYINT},
      </if>
      <if test="leaseDemand != null">
        lease_demand = #{leaseDemand,jdbcType=TINYINT},
      </if>
      <if test="isLoans != null">
        is_loans = #{isLoans,jdbcType=BIT},
      </if>
      <if test="loansMoney != null">
        loans_money = #{loansMoney,jdbcType=DECIMAL},
      </if>
      <if test="loansTime != null">
        loans_time = #{loansTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tomsung.agdc.domain.UserGrowers">
    update USER_GROWERS
    set admin_id = #{adminId,jdbcType=INTEGER},
      plant_level = #{plantLevel,jdbcType=TINYINT},
      credit_level = #{creditLevel,jdbcType=TINYINT},
      lease_demand = #{leaseDemand,jdbcType=TINYINT},
      is_loans = #{isLoans,jdbcType=BIT},
      loans_money = #{loansMoney,jdbcType=DECIMAL},
      loans_time = #{loansTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>